<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'roller-banner.png' %>');">
  <div class="container body">
    <h1><strong>Welcome to DecathLoc'</strong></h1>
    <p>The platform to rent Roller, for your trainings or competition</p>

    <div class="search-bar">
      <input type="search" class="site-search" name="q" placeholder="Size">
      <input type="search" class="site-search" name="q" placeholder="Location">
      <input type="search" class="site-search" name="q" placeholder="Dates">
    </div>
    <%= link_to("LOC'", equipments_path(:anchor => "equipments-list"), class:"btn btn-gradient") %>
  </div>
</div>

<div class="container">
  <div id="equipments-list">
    <div class="row cards">
      <!-- <div class="col-xs-12 col-sm-6 col-md-4"> -->
      <% @equipments.each do |equipment| %>
        <%= link_to equipment_path(equipment.id), class:"roller-card" do %>
            <div class="roller-image">
              <%= cl_image_tag(equipment.photo, height: 250, width: 250,crop: :fill) %>
            </div>
            <div class="roller-text">
              <div class="title-size">
                <h4><%= equipment.title %></h4>
                <p>Size: <%= equipment.size %></p>
              </div>
              <div class="location-price">
                <p><%= equipment.location %></p>
                <p><%= equipment.daily_price %>€/day</p>
              </div>
            </div>
        <% end %>
      <% end %>
         <!--  </div> -->
    </div>
    <br>
  </div>
</div>

