<div class="container body extension">
  <div class="row equipment-show-book">
    <div class="big-card d-inline-flex">
      <div class="equipment-img">
        <%= cl_image_tag @equipment.photo, width: 280, height: 280, crop: :thumb, gravity: :face %>
      </div>
      <div class="equipment-desc">
        <h2><%= @equipment.title %></h2>
        <p>Description: <%= @equipment.description %></p>
        <p>Size: <%= @equipment.size %></p>
        <p>Shape: <%= @equipment.shape %></p>
        <p>Daily Price: <%= @equipment.daily_price %></p>
        <p>Location: <%= @equipment.location %></p>
      </div>
    </div>
    <div class="user-booking">
      <div class="user-card text-center">
        <p><%= cl_image_tag current_user.photo, class: "avatar-large" %></p>
        <p>Rent those Roller to: <br><span class="bold"><%= current_user.username.upcase %><span></p>
      </div>
      <div class="form-card">
        <% if current_user != @equipment.user %>
        <%= render 'form', booking: @booking, equipment: @equipment %>
        <% end %>
      </div>
    </div>
  </div>
</div>
