<div class="container body extension">
  <div class="row">
    <div class="col-xs-12 col-md-7">
      <div class="big-card d-inline-flex">
        <div class="equipment-img">
          <%= cl_image_tag @equipment.photo, width: 280, height: 280, crop: :thumb, gravity: :face %>
        </div>
        <div class="equipment-desc">
          <h2><%= @equipment.title %></h2>
          <p>Description: <%= @equipment.description %></p>
          <p>Size: <%= @equipment.size %></p>
          <p>Shape: <%= @equipment.shape %></p>
          <p>Daily Price: <%= @equipment.daily_price %></p>
          <p>Location: <%= @equipment.location %></p>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-md-5 ">
        <div class="form-card">
          <% if current_user != @equipment.user %>
            <%= render 'form', booking: @booking, equipment: @equipment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "back", equipments_path%>




