<div class="navbar-decathloc sticky">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "decathloc-logo.png", class: "logo-tag" %>
    <% end %>
  </div>

  <!-- displayed on laptops -->
  <div class="navbar-decathloc-actions d-none d-sm-flex">
    <%= link_to 'MY BOOKINGS', dashboard_bookings_path, class: "active" %>
    <%= link_to 'MY EQUIPMENT', dashboard_equipments_path, class: "active" %>
    <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "active" %>
    <%= cl_image_tag current_user.photo, class: "avatar" %>
  </div>

  </div>

  <!-- displayed on phone / tablet -->
  <div class="navbar-decathloc-actions d-block d-sm-none">
    <div class="dropdown">
      <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to 'MY BOOKINGS', dashboard_bookings_path, class: "dropdown-item" %>
        <%= link_to 'MY EQUIPMENT', dashboard_equipments_path, class: "dropdown-item" %>

      </div>
    </div>
  </div>
</div>


