<div class="container body">
  <br>
  <h2 class="text-center">My Bookings</h2>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Received</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sent</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <% @bookings_received.each do |booking| %>
      <div class="card-category">
        <p><%= cl_image_tag booking.equipment.photo, class:"tabs-img" %></p>
        <div class="date">
          <p>From: <%= booking.start_date %></p>
          <p>To: <%= booking.end_date %></p>
        </div>
        <div class="booking-status">
          <p class="pending"><%= booking.status.upcase %></p>
          <%= simple_form_for [booking.equipment, booking] , method: :patch do |f| %>
            <%= f.button :submit, value: 'Accept', class:"btn btn-accepted" %>
          <% end %>
          <%= simple_form_for [booking.equipment, booking] , method: :patch do |f| %>
            <%= f.button :submit, value: 'Decline', class:"btn btn-declined" %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <% @bookings_sent.each do |booking| %>
        <div class="card-category">
          <p><%= cl_image_tag booking.equipment.photo, class:"tabs-img" %></p>
          <div class="date">
            <p>From: <%= booking.start_date %></p>
            <p>To: <%= booking.end_date %></p>
          </div>
          <div class="booking-status">
            <p class="pending"><%= booking.status.upcase %></p>
            <% if Date.today < booking.start_date.to_date - 2.day && booking.status != "cancelled" %>
              <%= simple_form_for [booking.equipment, booking] , method: :patch do |f| %>
                <%= f.button :submit, value: 'Cancel', class:"btn btn-cancel" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
