<div class="container body extension">
  <div id="equipments-list" class="cards-container">
    <br>
    <h2 class="text-center">My Equipments</h2>
    <div class="row cards">
      <% @equipments.each do |equipment| %>
        <%= link_to equipment_path(equipment.id), class:"roller-card" do %>
          <!-- <div class="col-xs-12 col-sm-6 col-md-4"> -->
            <div class="roller-image">
              <%= cl_image_tag(equipment.photo, height: 250, width: 250,crop: :fill) %>
            </div>
            <div class="roller-text">
              <div class="title-size">
                <h4><%= equipment.title %></h4>
                <p>Size: <%= equipment.size %></p>
              </div>
              <div class="location-price">
                <p><%= equipment.location %></p>
                <p><%= equipment.daily_price %>€/day</p>
              </div>
            </div>
          <!-- </div> -->
        <% end %>
      <% end %>
    </div>
      <%= link_to 'Add equipment', new_equipment_path, class:'btn btn-gradient' %>
    <br>
    <br>
  </div>
</div>
